{% extends "base.html" %}
{% block content %}

<div class="container home-intro">
  <div class="centered row home-hero-phrase">
    Stream videos from your Windows PC to your Android TV.
  </div>
  <div class="row">
    <div class="iconography-placeholder col-sm-2 col-sm-offset-2">
      Placeholder
    </div>
    <div class="iconography-placeholder col-sm-2 col-sm-offset-1">
      Placeholder
    </div>
    <div class="iconography-placeholder col-sm-2 col-sm-offset-1">
      Placeholder
    </div>
  </div>
</div>

<div class="white-content standard-content-block">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</div>

{% endblock %}
