{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container home-intro">
  <div class="centered row home-hero-phrase">
    Stream videos from your Windows PC to your Android TV.
  </div>
  <div class="row">
    <div class="iconography-placeholder col-sm-2 col-sm-offset-2">
      Placeholder
    </div>
    <div class="iconography-placeholder col-sm-2 col-sm-offset-1">
      Placeholder
    </div>
    <div class="iconography-placeholder col-sm-2 col-sm-offset-1">
      Placeholder
    </div>
  </div>
</div>

<div class="standard-content-block">
  <div class="container">
    <div class="row use-case-row">
      <div class="col-sm-4">
        <div class="home-use-case">
          <div class="iconography-placeholder-small">Placeholder</div>
          Never manually transfer a video file from your computer to your Android TV again
        </div>
      </div>
      <div class="col-sm-4">
        <div class="home-use-case">
          <div class="iconography-placeholder-small">Placeholder</div>
          A slow internet connection will never stop you from streaming your own videos
        </div>
      </div>
      <div class="col-sm-4">
        <div class="home-use-case">
          <div class="iconography-placeholder-small"> Placeholder </div>
          Its always on so you can set it and forget it
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white-content standard-content-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 clearfix download-instructions">
        Install both the Windows PC client and Android TV app
      </div>
      <div class="clearfix">
        <div class="col-sm-6 download-block">
          <div class="title">
            Download Windows Client
          </div>
          <a target="_blank" class="windows"> <img src="{% static "img/windows-logo.png" %}"/> Download here </a>
        </div>
        <div class="col-sm-6 download-block">
          <div class="title">
            Install Android TV App
          </div>

          <a href="https://play.google.com" target="_blank" class="play-store"> <img src="{% static "img/en-play-badge.png" %}"/> </a>
        </div>
        </div>
        <div class="get-started-blurb">
          <a href="/get-started"> Read the quick start guide </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
