.grey-body {
  background-color: #333637;
  color: white;
}
.centered {
  display: block;
  text-align: center;
}
.iconography-placeholder,
.iconography-placeholder-small {
  background-color: #282828;
  border-radius: 15px;
  border: 2px solid white;
  color: white;
  text-align: center;
  width: 240px;
  height: 160px;
  font-size: 14px;
  line-height: 160px;
}
.iconography-placeholder-small {
  width: 120px;
  height: 120px;
  line-height: 120px;
}
.white-content {
  background-color: white;
  color: #333637;
}
.color-content {
  background-color: #77c9dd;
  color: white;
}
.standard-content-block {
  padding: 120px 0;
  border-top: 1px solid #55595b;
}
/* HEADER */
header {
  height: 50px;
  background-color: #77c9dd;
}
.links-row {
  padding: 5px 0;
}
.header-icon {
  float: right;
  max-width: 40px;
  max-height: 40px;
  padding: 8px;
  margin-left: 16px;
}
.header-icon img {
  max-width: 100%;
  max-height: 100%;
}
.header-link {
  display: block;
  color: white;
  float: left;
  margin-right: 16px;
  line-height: 50px;
  font-size: 16px;
}
.header-link:hover {
  color: white;
  cursor: pointer;
}
.header-title {
  line-height: 50px;
  margin: 0 auto;
}
/* HOME */
.home-intro {
  padding: 180px 0;
  font-size: 44px;
}
.home-hero-phrase {
  margin-bottom: 40px;
}
.use-case-row {
  padding: 0 40px;
}
.home-use-case {
  text-align: center;
  font-size: 16px;
  padding: 0 15px;
}
.home-use-case > div {
  margin: auto;
  margin-bottom: 20px;
}
